/* index*/ 
body {
    background-color: aquamarine;
}
#slogan {
    width:100%;
}

#logo1 { 
    width:20rem;
}
.part1{
    display: grid;
    grid-template-columns: 1fr 30%;
    width: 100%;
}
#logo2 { width:100%;
}
.container{
    width: 100%;
}
nav.container{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: black;
}
.liste{
    display: flex;
    justify-content: start;
}
.liste ul{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    list-style-type: none;
}

.lien1 {
    display: inline-block;
    justify-content: flex-start;
    color: white;
    margin: 0 10px;
}
.contenu {
    width:100%;
    padding-top:2px;
    padding-bottom: 2px;
    margin-bottom: 0.7rem;
    overflow: hidden;
}
.contenu .container {
    display: grid;
    grid-template-columns: 1fr 30%;
    max-height: 600px;
    align-items: flex-start;
}
.contenu .sousensemble {
    font-size: 2.5rem;
}
.contenu .texte {
    font-size: 1rem; 
    line-height: 1cm;
}

.block {
font-weight: bold;
width:100%;
height:100%;
background-color: grey;
}
footer {
    background-color: black;
}

/* TABLEAU */

.tableau {
    border: 2px solid skyblue;
    border-collapse: collapse;
    min-width: 400px;
    width:auto;
    margin: 90px auto;
}
 
thead {
    background-color: green;;
}

thead, tr{
    text-align: left;
   
    
}

th, td {
    padding: 15px 20px;
}

tbody, tr, th, td {
   border: 2px solid skyblue;
}

tbody {
    background-color: lightgreen;
}

.taille {
    width: 100px;
}

/* CONTACT */

#parent {
    width: 25%;
    margin: 5px auto;
 }

 #formulaire_contact {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    background-color: blueviolet;
 }

 .centrage {
    margin: 1px;  
 }

/* responsive */

 @media screen and (max-width: 768px) 

 /* responsive index */
{ 
    .contenu .container {
        display: grid;
        grid-template-columns: 1fr 30%;
        max-height: 600px;
        align-items: flex-start;
    }

    .block {
        font-weight: bold;
        width:100%;
        height:100%;
        background-color: grey;
        display: none;
    }
    
    .liste ul{
        position: relative;
        flex-direction: column;
        list-style-type: none;
    }

    #slogan {
        width:100%;
    }

    .contenu .sousensemble {
        font-size: 1.5rem;
    }
    .contenu .texte {
        font-size: 0.8rem; 
        line-height: 1cm;
    }
    /* responsive contact */

    #parent {
        width: auto;
    }